.container {
  position: relative;
  width: 70%;
}


.intro .container {
  padding: 250px 100px;

}
.about-me .container {
  padding: 100px 0px;
}

.work-history .container {
  padding: 100px 0px;
}

.about-me{
  background-color: #e8c6ff;
}

.section h1 {
  color: black;
  font-size: 72px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;

}

.section h2 {
  font-size: 32px;
  color: black;
}

.section h3 {
  font-size: 24px;
  color: black;


}

.section p {
  font-size: 20px;
  color: black;
}

